.Form {
  text-align: left;
  float: left;
  width: 100%;
  overflow: hidden;
  padding-bottom: 50px;
}

.Form label {
  margin-top: 5px;
  display: block;
  width: 100%;
}

.Form select, .Form input[type="text"] {
  float: right;
  width: 200px;
}
