.Player {
  display: inline-block;
  background: yellow;
  border: solid 5px transparent;
}

.Player.me {
  background: red;
}

.Player.turn {
  border: solid 5px black;
}

.Player > img {
  float: left;
  clear: both;
}

.Player > span {
  float: left;
  clear: both;
  text-align: center;
  width: 100%;
  padding: 5px;
  font-size: 18px;
}
