.Player {
  float: left;
  text-align: center;
}

.Player > img {
  display: block;
  margin: 0 auto;

  background: orange;
  border: solid 5px white;
  border-radius: 10px;
}

.Player > img.me {
  background: red;
}

.Player > img.turn {
  border: solid 5px orange;
}

.Player > img.turn.me {
  border: solid 5px red;
}


.Player > span {
  float: left;
  clear: both;
  text-align: center;
  width: 100%;
  padding: 5px;
  font-size: 18px;
  display: block;
  width: 100%;
}
